.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.logo {
  background-image: url('../assets/loc-logo.png');
  height: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}
